h1 {
    font-size: 30px;
    text-align: center;
}

.texto {
    text-align: center;
    color: rgb(33, 31, 31); /////// Adicionei um ponto e vírgula no final da linha 
    font-size: 20px; ///////// Adicionei um ponto e vírgula no final da linha 
    background-color: #489ce1;
